/.idea/jarRepositories.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/.idea/encodings.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/modules.xml
/rangmanager.iml
/.idea/MCPluginDebugger.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_01_2024_22_26_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04_01_2024_22_26__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
